*~
*.o
*.so
*.pyc
Makefile.local
unittest_touchfiles

test-online-mask-filler
test-spline-detrender
test-upsample

time-memory-access-patterns
time-online-mask-filler
time-polynomial-detrender
time-spline-detrender
