*~
*.o
*.so
*.pyc
Makefile.local
unittest_touchfiles

test-downsample
test-intensity-clipper
test-mean-rms
test-online-mask-filler
test-polynomial-detrender
test-spline-detrender
test-std-dev-clipper
test-upsample

time-downsample
time-memory-access-patterns
time-online-mask-filler
time-polynomial-detrender
time-spline-detrender
time-upsample
